Options -MultiViews
RewriteEngine On
RewriteBase /

# Intercept Social Media Bots and serve dynamic SEO tags
RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit|twitterbot|whatsapp|telegrambot|linkedinbot|pinterest|skypeuripreview|vkShare|W3C_Validator) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/seo\.php$
RewriteRule ^ seo.php [L]

# Normal Nuxt SPA routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]